.button {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.selection.dropdown, .ui.selection.dropdown .menu {
    font-size: 14px;
}

.ui.basic.segment {
    padding: 0;
}

i.huge.icon {
    margin: 22% 0 0 0;
}

p {
    font-size: xx-large;
    margin: 0;
}

#map {
    height: 640px;
    width: 	100%;
}
